.text-box-default {
    display: flex;
    height: 40px;
    border: 1px solid #BBBBBB;
    font-family: GoogleSans-Regular;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 4px;
    box-sizing: border-box;
    align-items: center;
}