.button {
    outline: none;
    display: flex;
    align-items: center;
    height: 40px;
    border-radius: 4px;
    padding-left: 24px;
    padding-right: 24px;
    /* text-align: center; */
    color: #ffffff;
    background-color: #019160;
    line-height: 40px;
    /* min-width: 75px; */
    font-size: 13px;
    font-family: GoogleSans-Regular;
    box-sizing: border-box;
    cursor: pointer;
}

.button.button-icon {
    padding-left: 16px;
    padding-right: 16px;
    white-space: nowrap;
}

.button#buttonDel {
    visibility: hidden;
}

.button.button-red {
    background-color: #F65454;
}

.button.button-red:hover {
    background-color: #fd7b7b;
}

.button:hover {
    background-color: #2FBE8E;
}

.button:focus {
    background-color: #2FBE8E;
}

button.button:active {
    background-color: #01B075;
}