@import url('custom-scroll.css');
.select-box select {
    display: none;
    /*hide original SELECT element:*/
}


/*style the arrow inside the select element:*/

.select-selected:after {
    /* position: absolute;
    content: "";
    top: 0px;
    right: 0px; */
    content: "";
    width: 40px;
    height: 40px;
    background-image: url('../../Resource/icon/chevron-down-solid.svg');
    background-size: 12px 12px;
    background-repeat: no-repeat;
    background-position: center;
}


/*point the arrow upwards when the select box is open (active):*/

.select-selected.select-arrow-active:after {
    background-image: url('../../Resource/icon/chevron-up-solid.svg');
}

.select-selected.select-arrow-active {
    border-color: #019160;
}


/*style the items-container (options), including the selected item:*/

.select-selected {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-selected {
    color: #000000;
    padding-left: 16px;
    /* padding: 10px 16px; */
    border: 1px solid transparent;
    border-color: #BBBBBB;
    cursor: pointer;
    user-select: none;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: var(--object-color);
}

.select-items {
    color: #000000;
    padding: 2px 0px;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    background-color: #ffffff;
}

.select-items div {
    color: #000000;
    padding: 10px 16px 10px 30px;
    border-top: 1px solid #bbbbbb;
    cursor: pointer;
    user-select: none;
}


/*style items (options):*/

.select-items {
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    right: 0;
    height: 120px;
    overflow-y: scroll;
    z-index: 99;
}


/*hide the items when the select box is closed:*/

.select-hide {
    display: none;
}


/* hover option */

.select-items div:hover {
    background-color: #E9EBEE;
}

.same-as-selected {
    position: relative;
    background-color: #019160;
}

.same-as-selected i {
    color: var(--object-color);
    position: absolute;
    left: 10px;
    /* center vertical */
    top: 50%;
    transform: translate(0, -50%);
}