<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./dialog.css">
    <script src="dialog.js" defer></script>
    <title>Document</title>
</head>

<body>
    <button onclick="document.querySelector('.modal').style.display='block'"> modal up</button>
    <div class="modal">
        <div class="dialog">

            <div class="dialog-header">Đóng Form thông tin chung</div>

            <div class="dialog-content">
                <div class="icon-default icon-warning"></div>
                <div class="dialog-content-text">
                    Bạn có chắc muốn đóng form nhập "Thông tin chung của thủ tục 603" hay không?
                </div>
            </div>
            <div class="dialog-footer">
                <button class="button">Tiếp tục nhập</button>
                <button class="button">Đóng</button>
            </div>
        </div>
    </div>
    <custom-dialog></custom-dialog>
</body>

</html>