.paging {
    height: 56px;
    width: 100%;
    display: flex;
    align-items: center;
    /* display: grid;
    grid-template-columns: 200px auto 200px;
    align-items: center; */
}

.paging .paging-left {
    margin-left: 10px;
    font-size: 13px;
    white-space: nowrap;
}

.paging .paging-right {
    background-color: var(--object-color);
    margin-right: 10px;
    font-size: 13px;
    width: 11em;
    padding-left: 8px;
    padding-right: 10px;
    height: 30px;
    white-space: nowrap;
}

.paging .paging-left span {
    font-weight: bold;
    margin-right: 2px;
}

.paging .paging-right span {
    font-weight: bold;
    margin-right: 2px;
}

.paging .paging-right .icon-updown-wrapper {
    /* height: 30px; */
    margin-left: 0.5em;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    justify-content: flex-start;
}

.icon-updown-wrapper .icon-up {
    height: 10px;
    width: 12px;
    background-image: url(../../Resource/icon/chevron-up-solid.svg);
    background-size: 14px 12px;
    background-position: center top;
    background-repeat: no-repeat;
    cursor: pointer;
}

.icon-updown-wrapper .icon-down {
    height: 10px;
    width: 12px;
    background-image: url(../../Resource/icon/chevron-down-solid.svg);
    background-size: 14px 12px;
    background-position: center bottom;
    background-repeat: no-repeat;
    cursor: pointer;
}

.paging .paging-bar {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 400px;
    height: 100%;
    width: 100%;
    /* background-color: violet; */
}

.paging-bar .btn-paging-base {
    background-color: transparent;
    height: 30px;
    width: 30px;
    min-width: 30px;
    border-radius: 4px;
    background-position: center;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.paging-bar .btn-paging-base:hover {
    background-color: var(--object-color);
    border: none;
}

.paging-bar .btn-prev-page {
    margin-left: 15px;
    margin-right: 10px;
    background-image: url(../../Resource/icon/btn-prev-page.svg);
}

.paging-bar .btn-first-page {
    background-image: url(../../Resource/icon/btn-firstpage.svg);
}

.paging-bar .btn-next-page {
    margin-left: 10px;
    margin-right: 15px;
    background-image: url(../../Resource/icon/btn-next-page.svg);
}

.paging-bar .btn-last-page {
    background-image: url(../../Resource/icon/btn-lastpage.svg);
}

.paging-bar .number-container {
    flex: 0.25;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.paging-bar .btn-page-number {
    font-size: 13px;
    border: 1px solid var(--border-item-color);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.paging-bar .btn-page-number-active {
    background-color: #019160;
}